<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Formulário</title>
</head>
<body>
    <h1>Busca por similaridade 🔍
        <div class="menu-lateral">
                <a href= "/recuperar_dados"> 🎙️<span>Ir para dados</span> </a>
                <a href= "/busca">🔍<span>Ir para busca</span></a>
                <a href= "/">📤<span>Ir para envio</span></a>
        </div>
    </h1>
    
    <form action="/similares" method="post" enctype="multipart/form-data">
        <label for="qtd">Quantidade de parecidos:</label>
        <input type="number" id="qtd" name="qtd" min="1" required><br><br>
        <label for="audio">Áudio:</label>
        <input type="file" id="audio" name="audio" accept="audio/*" required><br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>