<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <!-- <h1>Enviar Dados para ChromaDB</h1> -->
    <form action="/processa_dados" method="post" enctype="multipart/form-data">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        <label for="audio">Áudio:</label>
        <input type="file" id="audio" name="audio" accept="audio/*" required><br><br>

        

        <button type="submit">Enviar</button>
    </form>
    </td>
    </td>
    <button onclick="recuperar_dados()">Ir para dados</button>

<script>
function recuperar_dados() {
    window.location.href = "/recuperar_dados"; // Substitua com a URL desejada
}
</script>
</body>
</html>