<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Formulário</title>
</head>
<body>
    <h1>Formulário para envio de áudio 📤
        <div class="menu-lateral">
            <a href= "/recuperar_dados"> 🎙️<span>Ir para dados</span> </a>
            <a href= "/busca">🔍<span>Ir para busca</span></a>
            <a href= "/">📤<span>Ir para envio</span></a>
        </div>
    
    </h1>
    <!-- <h1>Enviar Dados para ChromaDB</h1> -->
    <form action="/processa_dados" method="post" enctype="multipart/form-data">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>
        <label for="dublador">Dublador</label>
        <input type="text" id="dublador" name="dublador" required><br><br>
        <label for="audio">Áudio:</label>
        <input type="file" id="audio" name="audio" accept="audio/*" required><br><br>

        

        <button type="submit">Enviar</button>
    </form>
   
    
    
    
</script>
</body>
</html>