<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Dados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='recuperar.js') }}"></script>
</head>
<body>
    <h1>Audios similares
        <div>
            <a href= "/recuperar_dados" id = "links"> Banco de Dados</a>
            <a href= "/busca" id = "links"> Busca por similaridade</a>
            <a href= "/" id = "links"> Formulário de inserção</a>
        </div>
    </h1>
    <audio controls>
            <source src="{{ audio_path.replace('./', '../') }}" type="audio/mp3">
                    Seu navegador não suporta o elemento de áudio.
        </audio>
    <table border="1">
        <thead>
            <tr>
                <th>Dublador</th>
                <th>Personagem</th>
                <th>Frequência Média</th>
                <th>Tom Médio</th>
                <th>Caminho do Áudio</th>
                <th>Similaridade</th>
                <th>Reproduzir Áudio</th>
            </tr>
        </thead>
        <tbody>
             {% for metadata, document, distance in resultados_combinados %} 
            
            <tr>
                <td>
                    {% set name_parts = metadata.dublador.replace("id_", "").split(' ') %}
                    {% set formatted_parts = [] %}
                    {% for part in name_parts %}
                        {% set _ = formatted_parts.append(part.capitalize()) %}
                    {% endfor %}
                    
                    {{ formatted_parts | join(' ') }}
                </td>
                <td>{{ metadata.nome }}</td> 
                <td>{{ "%.2f" | format(document.frequencia_media) }}</td> 
                <td>{{ "%.2f" | format(document.tom_medio) }}</td> 
                <td>{{ metadata.audio_path }}</td> 
                 <td>{{ "%.6f" | format(distance) }}%</td> 
                
                <td>
                        <audio controls>
                            <source src="{{ metadata.audio_path.replace('./', '../') }}" type="audio/mp3">
                            Seu navegador não suporta o elemento de áudio.
                        </audio>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>